.banner{
    background-color:#F1C40F;
    width:100%;
    height:200px;
    margin-bottom:50px;

}
.banner-text{
    color: #41464b;
    margin-left: 45%;
    font-family: cursive;
    padding-top: 100px;
    position:absolute;
}
.h4{
    color:#41464b;
    font-family:cursive;
    }